.tech-list
 float: left 


.tech-list li
  padding: 0px 15px 0px 0px
  font-size: smaller
  display: inline

.item-actions 
  margin:0px;
  margin-left: 190px;  
  font-size: small;
  padding:0px;


.item-actions li
  display: inline;
  margin-left: 10px;

